.little-input {width: 85px!important;}
select.little-input {min-height: 25px!important;padding:2px!important;}
label.preselect {vertical-align: top;}
.margintop {margin-top: 20px;}
.indicator-form {border:1px solid lightgrey;margin-bottom:10px;padding:15px;}
#indicator-model{display:none;}
.breadcrumb {
    font-size: 14px;
    margin-bottom: 8px;
}
.breadcrumb>li>a:hover {
	color: #71a522;
}
.breadcrumb>li+li:before {
	font-size: 16px;
	content: "\00BB";
	color: #888;
}
.top_nav .nav_menu .navbar-right>li>a,
.top_nav .nav_menu .navbar-right>li>a>i {
	font-size: 20px;
}
.msg_list li.alert {
	background: white;
}
.msg_list li.alert a span {
	font-size: 13px;
}
.msg_list li.alert a.alert-warning {
	color: #8a6d3b;
	 border: 1px solid #faebcc;
}
.msg_list li.alert a.alert-danger {
    color: #a94442;
    border: 1px solid #ebccd1;
}
.alert > span.message {
	font-size: 14px;
}
ul.panel_toolbox>li>a {
	font-size: 22px;
}
.main_menu_side {
	padding-top: 20px;
}
.nav.side-menu > li.active > a {
	background: #808080;
}
.menu_section h3 {
    padding-left: 0px;
    color: #E7E7E7;
    text-align: center;
    font-size: 14px;
}
.parc-immo .building {
	border: 1px solid lightgrey;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
p>i.fa {
	margin-right: 8px;
}
p.address {
    font-size: 16px;
}
p.address>i.fa{
	font-size: 20px;
	color: #71a522;
}
p.building-resume {
	margin-top: 10px;
    font-size: 17px;
}
.building-resume .fa-circle.ok {
	color: #2ace1a;
}
.building-resume .fa-circle.ko {
	color: red;
}
.building-resume .fa-circle.warn {
	color: orange;
}
ul.building-infos {
	font-size: 15px;
}
ul.building-infos > li {
	margin-bottom: 8px;
}
.building .x_title {
    border-bottom: 2px solid #71a522;
}
.building.x_panel:hover {
	background-color: #FCFCFC;
	cursor: pointer;
}
.view-mode {
	text-align: right;
    font-size: 28px;
}
.view-mode > a > i.fa {
	margin-top: 18px;
    margin-right: 15px;
}
.building-details {
	text-align: center;
}
.building-details > i.fa {
	margin-top: 20px;
	font-size: 110px;
}
.building-details > i.fa.fa-home {
    margin-top: 30px;
}
.building-details > img {
	/*width: 100%;
    max-height: 130px;*/
    max-width: 160px;
    height: 120px;
    margin-top: 5px;
}
canvas.gauge-building {
	width: 100%;
	max-width: 320px;
	height: 110px;
}
.gauge-textfield {
	font-size: 25px;
	text-align: center;
	margin-top: -42px;
	padding-left: 8px;
}
.widget-action-buttons .button-action,
.custom-table .button-action {
	border: 1px solid #71a522;
	color: #71a522;
	padding: 6px 8px;
	border-radius: 20px;
	font-size: 13px;
}
.widget-action-buttons .button-action {
	margin-left: 8px;
}
.widget-action-buttons .button-action:hover,
.custom-table .button-action:hover {
	background: #71a522;
    color: white;
}
.position-relative {
    position: relative;
}
.no-margin {
	margin: 0px !important;
}
.margin-bottom {
	margin-bottom: 15px !important;
}
.big-margin-bottom {
	margin-bottom: 20px !important;
}
.big-margin-top {
	margin-top: 20px !important;
}
.font-size-19 {
	font-size: 19px !important;
}
.after-glyph {
	margin-left: 8px;
}
.before-glyph {
	margin-right: 8px;
}
.inventory-tree .jstree-node .jstree-icon.jstree-themeicon-custom {
	font: normal normal normal 14px/1 FontAwesome;
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}
.inventory-tree .jstree-node .jstree-icon.jstree-themeicon-custom.ELEMENT:before {
	content: "\f015";
}
.inventory-tree .jstree-node .jstree-icon.jstree-themeicon-custom.GROUP:before {
    content: "\f0c9";
}
.inventory-tree .jstree-node .jstree-icon.jstree-themeicon-custom.ASSET:before {
    content: "\f1b3";
}
.inventory-tree .jstree-node .jstree-icon.jstree-themeicon-custom.STRUCTURE:before {
    content: "\f0f7";
}

/** GRID WIDGETS **/
.list-grid-flex {
	display: flex;
	flex-wrap: wrap;
}
.element-grid-flex {
	display: flex;
}
.list-grid-flex .element-grid-flex .grid-flex-align {
	display: flex;
    flex-direction: column;
}
.grid-flex-align .align-content {
	flex: 1 0 auto;
}
.span-toggle-content {
	cursor: pointer;
}
/** TABLE DASHBOARD **/
.asset-line, .entity-line {
	margin-top: 35px;
}
table.custom-table {
	width: 100%;
	font-size: 14px;
}
table.custom-table thead {
    border-bottom: 3px solid #71a522;
}
table.custom-table tbody tr:not(:last-child) {
    border-bottom: 1px solid #e8eaea;
}
table.custom-table tbody tr td:not(:last-child),
table.custom-table thead tr th:not(:last-child) {
    border-right: 1px solid #e8eaea;
}
table.custom-table td, table.custom-table th {
    padding: 10px;	
}
table.custom-table th {
    font-size: 15px;
}
.custom-table td.cell-center-big {
	padding: 0px;
    text-align: center;
}
.custom-table th > span.sort {
	float: right;
    margin-top: 3px;
}
.custom-table th.state,
.custom-table td.state {
    width: 115px;
}
.custom-table th.actions,
.custom-table td.actions {
    width: 150px;
}
.custom-table td.state .state-wrapper {
    height: 16px;
    background-color: #E9E9E9;
    width: 80%;
    margin-left: 10%;
}
.custom-table td.state .state-wrapper div.state-HEALTHY {
    background-color: #00cc06;
    height: 16px;
}
.custom-table td.state .state-wrapper div.state-MEDIUM {
    background-color: #FFDD00;
    height: 16px;
}
.custom-table td.state .state-wrapper div.state-WARNING {
    background-color: #ffaa00;
    height: 16px;
}
.custom-table td.state .state-wrapper div.state-DANGER {
    background-color: #e50909;
    height: 16px;
}
.custom-table .button-action > i.fa {
	font-size: 16px;
}
.custom-table .type-structure-5:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0f7";
    margin-right: 5px;
    font-size: 17px;
}
.custom-table .type-structure-5:after {
	content: 'Bâtiment';
}
.custom-table .type-structure-21:after {
	content: 'Pont';
}
.custom-table .type-structure-18:after {
	content: 'Entrepôt';
}
.custom-table .type-structure-6:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f015";
    margin-right: 5px;
    font-size: 17px;
}
.custom-table .type-structure-6:after {
	content: 'Maison';
}
.custom-table .type-structure-1:after {
	content: 'Monument';
}

/**** test ******/
.fa.pagination-infos-header {
	position: absolute;
    top: 10px;
}
.dataTables_wrapper .top .dataTables_info {
	margin-left: 30px;
	font-size: 16px;
    margin-top: -2px;
    padding-top: 10px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.9;
}
table.dataTable thead .sorting:after {
    opacity: 0.3;
    content: "\e150";
}
table.dataTable thead .sorting:hover:after {
	opacity: 0.6;
}
table.dataTable thead .sorting_asc:after {
    content: "\e155";
}
table.dataTable thead .sorting_desc:after {
    content: "\e156";
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}
.paginate_button.previous a,
.paginate_button.next a  {
	font-family: 'Glyphicons Halflings';
	color: transparent;
	font-size: 0px;
}

.paginate_button.previous a:before {
	content: "\e079";
	color: #71a522;
	font-size: 13px;
}
.paginate_button.next a:before {
	content: "\e080";
	color: #71a522;
	font-size: 13px;
}
